.rightFoldCards-container{
    width: 29%;
    height: 120px;
    margin: 16px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
}
.rightFoldCards-container:hover{
    font-size: 20px;
    width: 30%;
    height: 124px;
    margin: 16px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6467a7;
    color: white;
    border-radius: 8px;
    box-shadow: 5px 10px 18px #6467a7;
}
.contact-avatar
{
    display: flex;
    flex:3;
    width: 80px;
    margin: 5px;
    
}
.contact-info
{
    flex:6;
    margin-top: 20px;
}
.cards-icon
{
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#616161;
}
.card-mic{
    background-color: #6467a7;
    color: #ffffff;
    border:2px solid #ffff;
    border-radius: 20px;
    padding: 4px;
    margin-right:5px;
    /* margin-left: 5px; */
}
.card-cam{
    background-color: #6467a7;
    color: #ffffff;
    border:2px solid #ffff;
    border-radius: 20px;
    padding: 4px;
    margin-right:5px;
    margin-left: 5px;
}
.card-more{
    background-color: #6467a7;
    color: #ffffff;
    border:2px solid #ffff;
    border-radius: 20px;
    padding: 4px;
    margin-right:5px;
    margin-left: 5px;
}
.card-mic:hover
{
    font-size: 24px;
    background-color: #ffff;
    color: #6467a7;
}
.card-cam:hover
{
    font-size: 24px;
    background-color: #ffff;
    color: #6467a7;
}
.card-more:hover
{
    font-size: 24px;
    background-color: #ffff;
    color: #6467a7;
}